/* home-section.component.css */
.hover-effect:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.hero-section {
    height: 90vh;
    background: linear-gradient(rgba(154, 150, 150, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets//images/home-background.jpg') center center / cover no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}