.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2px 10px; */
  /* background: rgb(240, 238, 238); */
  background: white;
  min-height: 100vh;
  /* margin-top: 2rem; */
}

.h2 {
  margin-top: 1rem;
}

.header h2 {
  font-size: 2.5rem;
  color: black;
  border-bottom: 3px solid black;
  display: inline-block;
  /* margin-top: 2rem; */
  /* padding-bottom: 4px; */
}

.content {
  width: 100%;
  display: flex;
  /* background-color: #cad2c5; */
  justify-content: center;
}

p-button {
  padding: 5px;
  width: 70px;
  /* margin-top: 5px */
}

.abutton {
  width: 70px;
}

.header2 {
  /* background-color: red; */
  width: 100%;
  display: flex;
  /* margin-top: 0.5rem; */
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
}

.total-count {
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-left: 1rem;
  /* margin-top: 0.5rem; */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  color: #333;
}

.form-group input {
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  /* transition: border 0.3s ease; */
}

.invalid {
  border: 2px solid #e74c3c !important;
  /* background-color: #ffecec; */
}

.dialogbutton {
  display: relative;
  justify-content: row;
  margin-top: 1rem;
}

th {
  /* background-color:black; */
  color: black;
}

header {
  background: black;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* keeps it above other elements */
  width: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
  /* overflow-y: auto; */
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: black;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  /* margin-left: 30rem; */
  justify-content: center;
  position: fixed !important;
  color: white;
}

.avatar-preview-login {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: 1rem;
  margin-left: 90rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  /* height: max-content; */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  /* pointer-events: ; */
}

.nav-links p {
  color: white;
  /* text-decoration: none; */
  font-size: 1rem;
}

.navbar button {
  background-color: black;
  /* height: fit-content; */
}

.navbar .nav-links button:hover {
  background-color: rgb(192, 63, 63);

}

::ng-deep .p-datatable .p-datatable-tbody>tr {
  height: 2rem;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 18px;
}

/* ::ng-deep .p-dialog .p-dialog-content {
  background-color: rgb(240, 238, 238); 
} */
::ng-deep .p-dialog {
  position: fixed !important;
  /* top: 5% !important; */
  transform: none !important;
  max-height: 90vh;
  /* top: 10% !important;
  max-height: 90vh;
  overflow: hidden !important; */
}

::ng-deep .p-dialog .p-dialog-content {
  overflow: visible !important;
  max-height: none !important;
  /* overflow: hidden !important; */
  /* overflow-y: auto !important; */
  background-color: rgb(240, 238, 238);
}

::ng-deep .p-dialog .p-dialog-header {
  height: 5vh;
  background-color: rgb(240, 238, 238);
  color: black;
}

.dialogbutton {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}

.avatar-preview {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: 1rem;
}

.avatar-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.table-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1rem;
}

.table-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.dialogboximage-Div {
  width: 100%;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 1rem 0; */
}


.dialogbox-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.username-label {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.2rem;
  color: white;
  text-align: center;
  word-break: break-word;
}

.user-overlay-content {
  display: flex;

  flex-direction: column;
  /* gap: 0.5rem; */
  font-weight: bold;
  min-width: 200px;
  gap: 0.25rem;
}

.user-overlay-content p {
  margin: 0;
  padding: 0.1rem 0;

}

.user-overlay-content-button {
  /* width: 100%; */
  display: flex;
  align-items: center;
  /* padding: 1rem; */
  gap: 2rem;
  flex-wrap: wrap;
  /* justify-content:space-between; */
  flex-direction: row;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 3 items per row */
  gap: 1rem;
  /* Space between the grid items */
  /* max-height: 80vh; */
  /* overflow-y: auto; */
  grid-auto-rows: 1fr;
}

.grid-item {

  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}


.user-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  /* height: 200px;  */
}

.user-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  /* border: 2px solid #f1f1f1; Light border around the image */
  border-radius: 10px;
}

.surface-50 {
  background-color: #f1f1f1;
}

.surface-100 {
  background-color: #e0e0e0;
}

.surface-0 {
  background-color: #fff;
}

/* User Info Styling */
.user-info {
  margin-bottom: 1rem;
  /* font-weight: bold; */
}

.user-info span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.text-sm {
  font-size: 0.875rem;
}


.user-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  background-color: #fff;
  /* background-color:rgb(165, 212, 255); */
}

.user-info span {
  font-size: 1.1rem;
  color: #333;
}

.flex.gap-2 {
  justify-content: center;
}


/* Responsiveness */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;


  /* padding: 0.5rem 1rem; */
  width: 100%;
  box-sizing: border-box;
}

.layout-switcher {
  display: flex;
  /* margin-right: 15px; */
  align-items: center;
}

.adduserbutton {
  display: flex;

  gap: 1rem;
}

.p-dialog .p-dialog-footer {
  border-top: 0 none;
  background: #ffffff;
  color: #4b5563;
  padding: 1.5rem 3.5rem 1rem;
  text-align: right;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.p-dialog {
  position: fixed !important;
  transform: none !important;
  max-height: 90vh;
}

::ng-deep .custom-table .p-paginator-bottom {
  justify-content: flex-end !important;
  padding-right: 1rem;

}



::ng-deep tr,
td[_ngcontent-ng-c4255859686],
th[_ngcontent-ng-c4255859686] {
  text-align: center !important;
  padding: 0 !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: center !important;
  padding: 0 !important;

}

tbody,
th,
thead {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  height: 2rem !important;
}

/* ::ng-deep .add-button .p-button {
  color: #ffffff;
  background: rgb(192, 63, 63) !important;
  border: none;
  height: 40px !important;
  display: flex;
} */

::nd-deep p-button[_ngcontent-ng-c1083364379] {
  padding: 0px;
  width: 70px;
  height: 3rem;
}

/* ::ng-deep .p-dataview .p-dataview-header {
  background: #f9fafb;
  color: #374151;
  border: 1px solid #e5e7eb;
  border-width: 1px 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 700;
  height: 68px;
} */


.p-dataview .p-dataview-content {
  overflow-y: visible !important;
  max-height: none !important;
}


/* .p-table-wrapper {
  overflow-y: visible !important;
} */
::ng-deep .p-datatable>.p-datatable-wrapper {
  overflow: hidden;
}