@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
    height: 100%;
    margin: 0px;
    background: rgb(240, 238, 238);

}

.add-button .p-button {
    color: #ffffff;
    background: rgb(192, 63, 63) !important;
    border: none;
    display: flex;

}

.save-button .p-button {
    color: #ffffff;
    background: rgb(192, 63, 63);
    border: none;
}

/* Hide the default spinner SVG */
.ngx-ui-loader-fgs>svg {
    display: none !important;
}

/* Show your custom GIF spinner */
.ngx-ui-loader-fgs::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-image: url('assets1/spinner.gif');
    /* relative to 'src' */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}