<form [formGroup]="taskFormGroup" class="form-container">
    <button class="btn btn-secondary btn-white m-2 btn-sm" (click)="goBackToList()" type="button">
        Back To List
    </button>
    <h2 style="text-align: center; margin-bottom: 2rem;">Edit Task</h2>
    <div class="form-row">
        <label for="name">Task Name</label>
        <input type="text" id="name" placeholder="Enter Task Name " pInputText formControlName="taskname" />
    </div>
    <div class="form-row">
        <label for="assignedFor">Assigned To</label>
        <p-autoComplete formControlName="assignto" [dropdown]="true" [suggestions]="filterednames"
            optionLabel="user_name">
        </p-autoComplete>

    </div>

    <div class="form-row">
        <label for="category">Category</label>
        <select id="category" formControlName="category">
            <option value="" disabled selected>Select a category</option>
            <option *ngFor="let i of taskCategories" [ngValue]="i">{{ i.name }}</option>
        </select>
    </div>

    <!-- <div class="form-row">
        <label for="status">Status</label>
        <select id="status" formControlName="status">
            <option value="" disabled selected>Select status</option>
            <option value="0">Not Start</option>
            <option value="1">In Progress</option>
            <option value="2">Done</option>
            <option value="3">Awaiting</option>
        </select>
    </div> -->
    <div class="form-row">
        <label for="dueDate">Due Date</label>
        <input type="date" id="dueDate" placeholder="Select Due Date" formControlName="duedate" />
    </div>
    <div class="form-row">
        <label for="Instructions">Description</label>
        <textarea id="Instructions" placeholder="Write any Instructions here..." rows="3" cols="50"
            formControlName="description" pInputTextarea></textarea>
    </div>
    <div class="button-wrapper">
        <button type="submit" class="btn btn-primary" (click)="updateTask()">Update</button>
    </div>
</form>