.custom-bg {
  background-color: #d2d4d6;
}

.btn-white {
  background-color: black !important;
  border: 1px solid #ced4da;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.btn-white:hover {
  background-color: #e9ecef !important;
  color: #212529;
}



::ng-deep .p-paginator-bottom {
  justify-content: flex-end !important;
  padding-right: 1rem;

}

.table-row td {
  /* border: 1px solid red !important; */
  /* margin: 0 !important; */
  padding: 0 !important;

}

::ng-deep tr,
td,
th {
  /* height: 50px !important; */
  text-align: center !important;
}